$text-color: #000;
$focus: #1a73e8;
$border-hover: #c0c0c0;
$primary-color: #3c74ff;

$cell-width: 120px;
$cell-min-width: 40px;
$cell-min-height: 20px;

$dashboard-header-height: 64px;

$companion-height: 117px;